@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: normal;
  src: url('/fonts/Inter/Inter-Variable.ttf') format('truetype');
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --color-violet-300: #b8a9d4;
  --color-violet-400: #9a85c2;
  --color-violet-500: #7c63b2;
  --color-violet-600: #6650a0;
  --color-violet-700: #53408a;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: #020617;
}

::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  border: 2px solid #020617;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #334155;
}

* {
  user-select: none;
}

input {
  user-select: auto;
}

a, button {
  cursor: pointer;
}

img {
  pointer-events: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.body-container {
  display: contents;
  width: 100%;
  height: 100%;
}

.bottom-bar-button-flash {
  animation: 0.75s infinite alternate bottom-bar-button-flash-keyframes;
}

@keyframes bottom-bar-button-flash-keyframes {
  from {
    background-color: #7c63b2;
    color: #f1eff6;
  }

  to {
    background-color: #9a85c2;
    color: #f1eff6;
  }
}
