name: build-mac
on:
  workflow_dispatch: null
  push:
    branches: [main]

jobs:
  build-mac:
    name: Build StemRoller Next for macOS (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: x64
            runner: macos-13
          - arch: arm64
            runner: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
      - run: npm i -D
      - run: STEMROLLER_TARGET_ARCH=${{ matrix.arch }} npm run download-third-party-apps
      - run: npm run build:mac:${{ matrix.arch }}
      - uses: tyankatsu0105/read-package-version-actions@v1
        id: package-version
      - run: ditto -c -k --sequesterRsrc --keepParent "dist/mac${{ matrix.arch == 'arm64' && '-arm64' || '' }}/StemRoller Next.app" stemroller-next-${{ steps.package-version.outputs.version }}-mac-${{ matrix.arch }}.zip
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.package-version.outputs.version }}
          files: stemroller-next-${{ steps.package-version.outputs.version }}-mac-${{ matrix.arch }}.zip
